
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(30deg, rgb(100, 241, 84), rgb(92, 92, 229), rgb(111, 30, 30));
}

.container{
    width: 75%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.imgContainer{
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.slide_div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.img{height: 180px;} 

img{
    position: relative;
    height: 180px;
    width: 110px;
    filter: saturate(10%);
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.button{
    position: absolute;
    width: 110px;
    height: 180px;
    transition: 0.7s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

#slider1:target ~ .imgContainer #img1,
#slider1:target ~ .imgContainer #button1{
    width: 240px;
    height: 370px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider2:target ~ .imgContainer #img2,
#slider2:target ~ .imgContainer #button2{
    width: 240px;
    height: 370px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider3:target ~ .imgContainer #img3,
#slider3:target ~ .imgContainer #button3{
    width: 240px;
    height: 370px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider4:target ~ .imgContainer #img4,
#slider4:target ~ .imgContainer #button4{
    width: 240px;
    height: 370px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider5:target ~ .imgContainer #img5,
#slider5:target ~ .imgContainer #button5{
    width: 240px;
    height: 370px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider6:target ~ .imgContainer #img6,
#slider6:target ~ .imgContainer #button6{
    width: 240px;
    height: 370px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider7:target ~ .imgContainer #img7,
#slider7:target ~ .imgContainer #button7{
    width: 240px;
    height: 370px;
    background-color: transparent;
    filter: saturate(100%);
}


#slider1:target ~ .imgContainer{
    left: 39%;
}
#slider2:target ~ .imgContainer{
    left: 26%;
}
#slider3:target ~ .imgContainer{
    left: 14%;
}
#slider4:target ~ .imgContainer{
    left: 2%;
}
#slider5:target ~ .imgContainer{
    left: -12%;
}
#slider6:target ~ .imgContainer{
    left: -24%;
}
#slider7:target ~ .imgContainer{
    left: -37%;
}


.bottom-center { 
    position: fixed; 
    bottom: 50px; 
    left: 500px; 
} 

.fr_txt {
    font-family: 'Tahoma';
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.bottom-right { 
    position: absolute; 
    bottom: 5px; 
    right: 5px; 
} 

.for_txt {
    font-family: 'Tahoma';
    font-size: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}